<link rel="stylesheet" href="/css/home.css">

<h3>Daily Habits</h3>
<div id="weekliTrack"><a href="/habit">Weekly Tracker</a></div>
<div  style="background-color: azure; width: 200px; margin: auto; border-radius: 1rem; box-shadow: 1px 1px 1px red;" >
    <a href="/favourite/Dashboard" style="color: rgb(144, 192, 176);" >
        <h1> Favourites </h1>
    </a>
</div>
            

<form id="create-habit" action="/habit/create" method="post">
    <input type="text" name="content" placeholder="write habit here">
    <input type="submit" value="create">
</form>

<section>
    <div id="status-details-main">
        <div class="status-details-child">
            <small>Completed status:</small>
            <small><i class="fa-solid fa-square-check" ></i></small>
        </div>
        <div class="status-details-child">
            <small>Not-Completed Status:</small>
            <small><i class="fa-sharp fa-solid fa-xmark fa-lg"></i></small>
        </div>
        <div class="status-details-child">
            <small>Waiting Status:</small>
            <small><i class="fa-sharp fa-solid fa-hourglass"></i></small>
        </div>
    </div>
    <ul>
        
        <% for(habit of habits){ %>

            <li> 
                <p>
                    <div id="status-div">

                        <a href="/habit/status/?day=<%= date.getDay()%>&habitId=<%=habit.id %>&date=<%= date.getDate() %>">
                            <% if(habit.currentStatus[date.getDay()].state == "false" ){ %>
                                
                                <i class="fa-sharp fa-solid fa-xmark fa-lg" style="color: red;"></i> 
                                <% }else if(habit.currentStatus[date.getDay()].state == "true"){ %>
                                    <i class="fa-solid fa-square-check"  style="color: green;"></i>
                                    <% }else{ %>
                                        <i class="fa-sharp fa-solid fa-hourglass" style="color: cornflowerblue;"></i>

                                        <% } %>
                                        <%# habit.currentStatus[date.getDay()].state %>
                                    </a>
                    </div>
                
                <div id="content-div"> 
                    <small> <%= habit.content %>  </small> 
                    <small> <%= habit.currentStatus[date.getDay()].date %> </small> 
                </div>
                
                <div id="fav_delete-div">

                    <small><a href="/habit/favourite/<%= habit._id %>">
                        <% if(habit.favourite == true){ %>
                            
                            <i class="fa-solid fa-bookmark"></i>
                            <% }else{ %>
                                <i class="fa-regular fa-bookmark"></i>
                                <% } %>
                            </a></small>
                            <small><a href="/habit/destroy/<%=habit.id %> ">
                                <i class="fa-sharp fa-solid fa-trash-can"></i>
                            </a></small>
                </div>
            </p>
            </li>
        <% } %>
    </ul>
</section>